@font-face {
    font-family: 'st';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fl';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0%;
}
.section__content{
    padding: 20px;
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "st";
}

.section__content-frofile{
    border-bottom: 2px solid black ;
    padding: 10px;
    border-radius: 5px;
}


.section__content-frofile:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: wavy;
}

.section__content-career{
    border-bottom: 2px solid black ;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.section__content-career:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: wavy;
}

.section__content-introduce{
    border-bottom: 2px solid black ;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}


.section__content-introduce:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: wavy;
}

.section__content-history{
    border-bottom: 2px solid black ;
    padding: 10px;
    border-radius: 5px;
}


.section__content-history:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: wavy;
}

.section__content-contact{
    border-bottom: 2px solid black ;
    padding: 10px;
    border-radius: 5px;
}


.section__content-contact:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: wavy;

}

.section__content-tmi{
    border-bottom: 2px solid black ;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}


.section__content-tmi:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: wavy;
}

.bottom{
    margin-top: 1000px;
    margin-bottom: 0%;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-family: "Fl";
}

.bottom a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 30px;
    margin-left: auto;
}

.bottom a:hover{
    color: grey;
}