@font-face {
    font-family: 'SF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fl';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0%;
    background-color: rgb(255, 255, 255);
}
.section__content{
    padding: 20px;
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "SF";
}

.section__content h4{
    color: antiquewhite;
}

.section__content h2{
    color: antiquewhite;
}
.section__content-frofile{
    padding: 40px;
    border: 2px solid rgb(179, 179, 179);
}


.section__content-frofile:hover{
    background-color: rgb(218, 218, 218);
    text-decoration: wavy;
}

.section__content-career{
    padding: 40px;
    border: 2px solid rgb(179, 179, 179);
    margin-top: 20px;
}

.section__content-career:hover{
    background-color: rgb(41, 41, 41);
    text-decoration: wavy;
}

.section__content-introduce{
    padding: 40px;
    border: 2px solid rgb(179, 179, 179);
    margin-top: 20px;
}


.section__content-introduce:hover{
    background-color: rgb(41, 41, 41);
    text-decoration: wavy;
}

.section__content-history{
    padding: 40px;
    border: 2px solid rgb(179, 179, 179);
}


.section__content-history:hover{
    background-color: rgb(41, 41, 41);
    text-decoration: wavy;
}

.section__content-contact{
    padding: 40px;
    border: 2px solid rgb(179, 179, 179);
}


.section__content-contact:hover{
    background-color: rgb(41, 41, 41);
    text-decoration: wavy;

}

.section__content-tmi{
    padding: 40px;
    border: 2px solid rgb(179, 179, 179);
    margin-top: 20px;
}


.section__content-tmi:hover{
    background-color: rgb(41, 41, 41);
    text-decoration: wavy;
}

.bottom{
    margin-top: 1000px;
    margin-bottom: 0%;
    padding: 30px;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 254, 254);
    font-family: "Fl";
    border-top: 2px solid rgb(179, 179, 179);
}

.bottom a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 30px;
    margin-left: auto;
}

.bottom a:hover{
    color: grey;
}