.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
}

.title{
    font-size: 35px;
}

.title h1{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.title a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.title a:hover{
    color: rgb(51, 52, 53);
}

.navigation{
    margin-bottom: 40px;
    background-color: rgb(0, 0, 0);
}

.navigation ul{
    font-size: 17px;
    padding: 0;
    justify-content: flex-end;
    display: flex;
    list-style: none;
}

.navigation li{
    padding: 6px 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);    
    transition: all 0.1s ease-in-out;
}

.navigation li:hover{
    transform: scale(0.95);
    background-color: rgb(51, 52, 53);
    color: rgba(255, 255, 255, 0.678);
    text-decoration: underline;
}
.navigation a{
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;
}